{% extends 'base.html' %}

{% block title %}
    David Rojas | Python Developer | Home
{% endblock %}

{% block content %}
    <!-- Banner Section -->
    <section class="px-5 banner">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <div class="banner-info">
                    <h3>Hi there,</h3>
                    <h1>I'm <span class="banner-h1-span">David</span></h1>
                    <p class="lead">
                        <span class="banner-p-span">Python Developer / Back-End Developer</span>
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button type="button" class="btn btn-outline-primary btn-lg">Contact Me</button>
                    </a>
                </div>
                <lottie-player class="pb-5 lottie w-50 d-none d-md-block" src="https://assets3.lottiefiles.com/packages/lf20_fibnfbnx.json" mode="bounce"
                                   background="transparent" speed="1" style="width: 600px; height: 600px;" loop
                                   autoplay>
                </lottie-player>
            </div>
            <div class="scroll-down my-auto">
                <a href="#skills-section">
                    <lottie-player  class="lottie w-50 d-none d-sm-block" src="https://assets10.lottiefiles.com/packages/lf20_e0zbhoy2.json"
                                   background="transparent" speed="1" style="width: 200px; height: 200px;" loop
                                   autoplay>
                    </lottie-player>
                </a>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    {% include "skills.html" %}

    <!-- Projects Section -->
    {% include "projects.html" %}

    <!-- Contact Form Section -->
    {% include "contact.html" %}

    <script src="../static/js/index.js"></script>
{% endblock %}