{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    David Rojas | Python Developer | Add Blog Post
{% endblock %}

{% block content %}
    <section class="post text-center" id="page">
        <div class="container">
            <div class="post-title pb-5">
                <h2>Make a Blog Post</h2>
            </div>
            <form method="post" class="form form-horizontal">
                <div class="mx-auto col-lg-8 col-md-10">
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='content') }}

                    <div class="mb-4">
                        {{ wtf.form_field(form.title) }}
                    </div>
                    <div class="mb-4">
                        {{ wtf.form_field(form.slug) }}
                    </div>
                    <div class="mb-4">
                        {{ wtf.form_field(form.content) }}
                    </div>
                    <div class="mb-4 btn btn-lg btn-primary">
                        {{ wtf.form_field(form.submit) }}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}