{% extends 'base.html' %}

{% block title %}
    David Rojas | Python Developer | Projects
{% endblock %}

{% block content %}
    <section class="p-5 projects" id="page">
        <div class="container">
            <div class="project-info pb-5">
                <h2>My Projects</h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                 <div class="col">
                    <div class="card h-100">
                      <img src="../static/images/akar-icons_python-fill.svg" class="card-img-top justify-content-center" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Project</h5>
                        <p class="card-text">Built using ...</p>
                      </div>
                      <div class="card-footer">
                          <a href="" class="footer-live">Live</a>
                          <a href="" class="footer-git"><i class="fab fa-github"></i></a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="../static/images/akar-icons_python-fill.svg" class="card-img-top justify-content-center" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Project</h5>
                        <p class="card-text">Built using ...</p>
                      </div>
                      <div class="card-footer">
                          <a href="" class="footer-live">Live</a>
                          <a href="" class="footer-git"><i class="fab fa-github"></i></a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="../static/images/akar-icons_python-fill.svg" class="card-img-top justify-content-center" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Project</h5>
                        <p class="card-text">Built using ...</p>
                      </div>
                      <div class="card-footer">
                          <a href="" class="footer-live">Live</a>
                          <a href="" class="footer-git"><i class="fab fa-github"></i></a>
                      </div>
                    </div>
                </div>
                <div class="project-spacer w-100"></div>
            </div>
        </div>
    </section>
{% endblock %}