{% extends 'base.html' %}

{% block title %}
    David Rojas | Python Developer | Projects
{% endblock %}

{% block content %}
    <section class="p-5 projects" id="page">
        <div class="container">
            <div class="project-info pb-5">
                <h2>My Projects</h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                 <div class="col">
                    <div class="card h-100">
                        <a href="https://redswankraft.com">
                            <img src="../static/images/redswankraft_home.png" class="card-img-top
                            w-100" alt="RedSwanKraft">
                        </a>
                      <div class="card-body">
                        <h5 class="card-title">E-Commerce Website</h5>
                        <p class="card-text">Built using WordPress, WooCommerce, and SiteGround for hosting.</p>
                      </div>
                      <div class="card-footer">
                          <a href="https://redswankraft.com/" target="_blank" class="footer-live">Live</a>
                      </div>
                    </div>
                </div>
                <div class="project-spacer w-100"></div>
            </div>
        </div>
    </section>
{% endblock %}