{% extends 'base.html' %}

{% block title %}
    David Rojas | Python Developer | Skills
{% endblock %}

{% block content %}
    <section class="p-5 skills" id="page">
        <div class="container">
            <div class="skills-info">
                <h2>Skills</h2>
            </div>
            <div class="d-lg-flex justify-content-between">
                <div class="skills-description col-lg-5 pt-5">
                    <p>
                        Since I was young, I have always had a love and interest in technology, which is maybe why my family
                        always calls me for every technical issue they have... Anyways, that love grew even more once I started
                        learning about programming.
                        <br><br>
                        In university, I was able to learn about <span>Python</span>, and it instantly became my favorite language.
                        Even though I know and enjoy using other languages such as HTML, CSS, and a bit of JavaScript,
                        and even tools like WordPress, Python's simplicity and flexibility amazes me.
                        Specifically, I enjoy using Python for Back-End Development, Data Analysis, and Web Scraping.
                        <br><br>
                        I really enjoy learning new things and acquiring experience with new technologies; I'm open to new
                        opportunities to continue doing that.
                    </p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/akar-icons_python-fill.svg" class="card-img-top" alt="Python logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/logos_flask.svg" class="card-img-top" alt="Flask logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/Component%201.svg" class="card-img-top" alt="Pandas logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/akar-icons_html-fill.svg" class="card-img-top" alt="HTML logo">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/akar-icons_css-fill.svg" class="card-img-top" alt="CSS logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/cib_js.svg" class="card-img-top" alt="JS logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/akar-icons_bootstrap-fill.svg" class="card-img-top" alt="Bootstrap logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/cib_postgresql.svg" class="card-img-top" alt="PostgreSQL logo">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/bx_bxs-file-json.svg" class="card-img-top" alt="JSON logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/bi_wordpress.svg" class="card-img-top" alt="Wordpress logo">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md">
                        <div class="card">
                            <img src="../static/images/bi_git.svg" class="card-img-top" alt="Git logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}